<!-- wp:template-part {"slug":"header","theme":"restoreconstruction","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignwide"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|50"}}}} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"65%"} -->
    <div class="wp-block-column" style="flex-basis:65%"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
    <div class="wp-block-group alignwide"><!-- wp:post-title {"level":1,"align":"wide","className":"font-bold","fontSize":"xx-large"} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"4px"}},"fontSize":"small","layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical"}} -->
    <div class="wp-block-group has-small-font-size"><!-- wp:acf/team-title {"name":"acf/team-title","mode":"preview","className":"font-semibold","fontSize":"large"} /-->
    
    <!-- wp:acf/team-position {"name":"acf/team-position","mode":"preview","textColor":"accent-4","fontSize":"medium","style":{"elements":{"link":{"color":{"text":"var:preset|color|accent-4"}}}}} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:separator {"className":"is-style-wide"} -->
    <hr class="is-style-wide wp-block-separator has-alpha-channel-opacity"/>
    <!-- /wp:separator -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"default"}} -->
    <div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"fontSize":"medium"} -->
    <p class="has-medium-font-size"><strong>City:</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:acf/team-city {"name":"acf/team-city","mode":"preview","fontSize":"medium"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"fontSize":"medium"} -->
    <p class="has-medium-font-size"><strong>State:</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:acf/team-state {"name":"acf/team-state","mode":"preview","fontSize":"medium"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"fontSize":"medium"} -->
    <p class="has-medium-font-size"><strong>Phone</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:acf/team-phone {"name":"acf/team-phone","mode":"preview","fontSize":"medium"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"fontSize":"medium"} -->
    <p class="has-medium-font-size"><strong>Email:</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:acf/team-email {"name":"acf/team-email","mode":"preview","fontSize":"medium"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:acf/team-facebook {"name":"acf/team-facebook","mode":"preview"} /-->
    
    <!-- wp:acf/team-twitter {"name":"acf/team-twitter","mode":"preview"} /-->
    
    <!-- wp:acf/team-linkedin {"name":"acf/team-linkedin","mode":"preview"} /-->
    
    <!-- wp:acf/team-instagram {"name":"acf/team-instagram","mode":"preview"} /-->
    
    <!-- wp:acf/team-youtube {"name":"acf/team-youtube","mode":"preview"} /-->
    
    <!-- wp:acf/team-tiktok {"name":"acf/team-tiktok","mode":"preview"} /-->
    
    <!-- wp:acf/team-whatsapp {"name":"acf/team-whatsapp","mode":"preview"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:acf/team-file {"name":"acf/team-file","data":{},"mode":"preview"} /-->
    
    <!-- wp:acf/team-url {"name":"acf/team-url","data":{},"mode":"preview"} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"35%"} -->
    <div class="wp-block-column" style="flex-basis:35%"><!-- wp:post-featured-image /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /--></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"restoreconstruction","area":"footer"} /-->